@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    
    <div class="col-md-6">

        <img src="~/images/garagecarousel.jpg" />
    </div>
    <div class="col-md-6">
        <h1>CLR GARAGE</h1>
    </div>
</div>