@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "Home Page";
}


<link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<div class="row">
    
    <div class="col-md-6">

        <img src="~/images/garagecarousel.jpg" />
    </div>
    <div class="col-md-6" style="padding-top:200px; font-family: 'caflisch script', cursive">
        <h1>CLR GARAGE</h1>
    </div>
</div>